@import "./source-sans-pro-400";
@import "./source-sans-pro-600";
@import "./source-sans-pro-700";

@font-face {
  font-display: swap;
  font-family: "Oranda BT";
  font-style: normal;
  font-weight: 700;
  src:
    local(oranda bt bold),
    url("../ordana/oranda_bold_bt.woff2") format("woff2"),
    url("../ordana/oranda_bold_bt.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Oranda BT";
  font-style: normal;
  font-weight: 400;
  src:
    local(oranda bt roman),
    url("../ordana/oranda_bt.woff2") format("woff2"),
    url("../ordana/oranda_bt.woff") format("woff");
}
