@import "~@gemeentenijmegen/components-css/link-list/mixin";
@mixin nijmegen-html-unordered-list {
  ul {
    all: unset;
    display: flex;
    flex-direction: column;
    row-gap: var(--utrecht-link-list-row-gap);
    li {
      display: inline-block;
      list-style: none;
      &::before {
        content: "â—";
        padding-inline-end: var(--utrecht-unordered-list-item-padding-inline-start, 0.5rem);
      }
      &:has(> a:only-child) {
        &::before {
          @include nijmegen-link-list__link-before;

          padding-inline-end: 0;
        }
      }
      > a:only-child {
        @include nijmegen-link-list__link;
      }
      > ul {
        margin-block-start: 1rem;
      }
    }
  }
}
