@import "~@gemeentenijmegen/components-css/link-list/mixin";
@mixin nijmegen-html-unordered-list {
  ul {
    box-sizing: border-box;
    font-family: var(--utrecht-document-font-family, inherit);
    font-size: var(--utrecht-unordered-list-font-size, var(--utrecht-document-font-size, inherit));
    line-height: var(--utrecht-unordered-list-line-height, var(--utrecht-document-line-height, inherit));
    margin-block-end: calc(
      var(--utrecht-space-around, 0) *
        var(--utrecht-unordered-list-margin-block-end, var(--utrecht-paragraph-margin-block-end, 0))
    );
    margin-block-start: calc(
      var(--utrecht-space-around, 0) *
        var(--utrecht-unordered-list-margin-block-start, var(--utrecht-paragraph-margin-block-start, 0))
    );
    padding-inline-start: var(--utrecht-unordered-list-padding-inline-start, 2ch);
    text-align: start;
    li {
      margin-block-end: var(--utrecht-unordered-list-item-margin-block-end);
      margin-block-start: var(--utrecht-unordered-list-item-margin-block-start);
      padding-inline-start: var(--utrecht-unordered-list-item-padding-inline-start, 1ch);
      &::marker {
        color: var(--utrecht-unordered-list-marker-color);
        content: "â—";
      }
    }

    &.nijmegen-html-linklist {
      list-style: none;
      padding-inline-start: 0;
      li {
        padding-inline-start: 0;
        &::marker {
          all: unset;
        }
        &::before {
          @include nijmegen-link-list__link-before;

          padding-inline-end: 0;
        }
        a {
          @include nijmegen-link-list__link;
        }
      }
    }
  }
}
