/* stylelint-disable no-descending-specificity */

.nijmegen-note {
  background-color: var(--nijmegen-note-background-color);
  border-color: var(--nijmegen-note-border-color);
  border-style: solid;
  border-width: var(--nijmegen-note-border-width);
  color: var(--nijmegen-note-color);
  display: inline-flex;
  flex-direction: column;
  gap: var(--nijmegen-note-content-row-gap);
  padding-block-end: var(--nijmegen-note-padding-block-end);
  padding-block-start: var(--nijmegen-note-padding-block-start);
  padding-inline-end: var(--nijmegen-note-padding-inline-end);
  padding-inline-start: var(--nijmegen-note-padding-inline-start);
}

.nijmegen-note__heading {
  font-family: var(--nijmegen-note-heading-font-family);
  font-size: var(--nijmegen-note-heading-font-size);
  font-weight: var(--nijmegen-note-heading-font-weight);
  line-height: var(--nijmegen-note-heading-line-height);
}
