@import "./mixin";
.nijmegen-link-list {
  @include nijmegen-link-list;
}

.nijmegen-link-list__item {
  @include nijmegen-link-list__item;
}

.nijmegen-link-list__link {
  &:any-link {
    @include nijmegen-link-list__link;
  }

  &.nijmegen-link-list__link--no-chevron {
    align-items: center;

    svg {
      flex-shrink: 0;
    }
  }

  &:not(.nijmegen-link-list__link--no-chevron) {
    &::before {
      @include nijmegen-link-list__link-before;
    }
  }
}
