.utrecht-link {
  .utrecht-icon {
    inset-block-start: var(--utrecht-icon-inset-block-start, 0.35rem);

    + span {
      padding-inline-start: 0.25rem;
    }
  }

  span + .utrecht-icon {
    padding-inline-start: 0.25rem;
  }
}
