@import "~@utrecht/link-css/src/mixin";
@import "~@utrecht/focus-ring-css/src/mixin";

.nijmegen-search-results {
  border-block-color: var(--nijmegen-search-result-border-color);
  border-block-end: var(--nijmegen-search-result-border-block-end-width);
  border-block-style: solid;
  display: flex;
  flex-direction: column;
  gap: var(--nijmegen-search-result-row-gap);
  padding-block-end: var(--nijmegen-search-result-padding-block-end);
  padding-block-start: var(--nijmegen-search-result-padding-block-start);
  padding-inline-end: var(--nijmegen-search-result-padding-inline-end);
  padding-inline-start: var(--nijmegen-search-result-padding-inline-start);
}

.nijmegen-search-results__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--nijmegen-search-result-content-row-gap);

  @media (width < 576px) {
    .nijmegen-metadata {
      flex-direction: column;
    }
  }
}

.nijmegen-search-results__summary {
  display: flex;
  flex-direction: column;
  gap: var(--nijmegen-search-result-content-row-gap);
}

.nijmegen-search-results__heading {
  color: inherit;
  text-decoration: var(--nijmegen-search-result-heading-text-decoration, none);

  &:hover {
    color: var(--nijmegen-search-result-heading-hover-color);
    text-decoration: var(--nijmegen-search-result-heading-hover-text-decoration, underline);
  }

  &:focus,
  &.nijmegen-search-results__heading--focus {
    @include utrecht-link--focus;
    @include utrecht-link--focus-visible;
  }

  &:focus-visible,
  &.nijmegen-search-results__heading--focus-visible {
    @include utrecht-link--focus;
    @include utrecht-link--focus-visible;
  }
}
